<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>角色列表</title>
        <header th:replace="header::html"></header>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">角色</a>
            <a>
              <cite>角色列表</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>

        <div class="layui-card-body">
            <form class="layui-form layui-col-space5">
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" name="name" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </form>
        </div>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-danger" lay-event="getDelAll">批量删除</button>
                <button class="layui-btn" onclick="xadmin.open('新增角色','/role/add')"><i class="layui-icon">  </i>新增角色</button>
            </div>
        </script>

        <div class="layui-card-body">
            <table class="layui-hide" id="table" lay-filter="member"></table>
        </div>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>


    </body>
    <script>
        layui.use('table', function(){
            var table = layui.table,
            form = layui.form;
            //第一个实例
            table.render({
                elem: '#table'
                ,url: '/role/list' //数据接口
                ,page: true
                ,toolbar: '#toolbarDemo'
                ,response: {
                    countName: 'count',
                    dataName: 'datas'
                }
                ,cols: [
                    [ //表头
                        {type:'checkbox',fixed: 'left'}
                        ,{field: 'id', title: 'ID', width: 60, fixed: 'left'}
                        ,{field: 'name', title: '角色名'}
                        ,{field: 'description', title: '描述'}
                        //,{field: 'status', title: '状态', width: 120}
                        ,{field: 'createTime', title: '最后操作时间'}
                        ,{field: 'updateTime', title: '最后操作时间'}
                        ,{fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                    ]
                ]
            });

            //头工具栏事件
            table.on('toolbar(member)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                var json = "";
                for (i = 0; i < checkStatus.data.length; i++){
                    json += checkStatus.data[i].id + ",";
                }
                if(obj.event == 'getDelAll'){
                    layer.confirm('真的删除行么', function(index){
                        $.ajax({
                            url:"/role/deleteAll",
                            type:"GET",
                            data:{json:json},
                            dataType:'json',
                            success:function (result) {
                                layer.alert("删除成功", {icon: 1},function (index1) {
                                    layer.close(index1);
                                    //xadmin.father_reload();
                                    table.reload('table');
                                });
                            }
                        });
                    });
                }
            });

            //监听行工具事件
            table.on('tool(member)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){

                        $.ajax({
                            url:"/role/delete",
                            type:"GET",
                            data:{id:data.id},
                            dataType:'json',
                            success:function (result) {
                                layer.alert("删除成功", {icon: 1},function (index1) {
                                    layer.close(index1);
                                    //xadmin.father_reload();
                                    table.reload('table');
                                });
                            }
                        });
                    });
                } else if(obj.event === 'edit'){
                    xadmin.open('编辑角色信息','/role/edit/?id='+data.id);
                }
            });

            //监听提交
            form.on('submit(search)', function(data){

                var name = data.field.name;
                table.render({
                    elem: '#table'
                    ,url: '/role/findRoleByFuzzyName' //数据接口
                    ,toolbar: '#toolbarDemo'
                    ,page: true
                    ,where:{
                        "name":name
                    }
                    ,response: {
                        countName: 'count',
                        dataName: 'datas'
                    }
                    ,cols: [
                        [ //表头
                            {type:'checkbox',fixed: 'left'}
                            ,{field: 'id', title: 'ID', width: 60, fixed: 'left'}
                            ,{field: 'name', title: '角色名'}
                            ,{field: 'description', title: '描述'}
                            //,{field: 'status', title: '状态', width: 120}
                            ,{field: 'createTime', title: '最后操作时间'}
                            ,{field: 'updateTime', title: '最后操作时间'}
                            ,{fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                        ]
                    ]
                });
                return false;
            });
        });
    </script>

</html>